@model Assignment.Models.Bag

@{
    ViewData["Title"] = Model.Name + " Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Bag</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Published)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Published)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Description)
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <form class="d-inline my-3" asp-action="AddToCart">
            <input type="hidden" name="bagId" value="@Model.Id" />

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Quantity</span>
                </div>

                <input class="form-control" type="number" name="quantity" min="50" step="10" value="50" />

                <div class="input-group-append">
                    <input type="submit" value="Add to Cart" class="btn btn-primary" />
                </div>
            </div>
        </form>
    }
    <a class="btn btn-secondary my-3" asp-route-id = "@Model.CategoryId" asp-action="Details">Back to List</a>
    <a class="btn btn-secondary my-3" asp-controller="Shop" asp-action="ViewMyCart">View Cart</a>
</div>
