@model Assignment.Models.Category

@{
    ViewData["Title"] = "Shop Bags for " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bags.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bags.FirstOrDefault().Description)
            </th>                                   
            <th>                                    
                @Html.DisplayNameFor(model => model.Bags.FirstOrDefault().Capacity)
            </th>                                   
            <th>                                    
                @Html.DisplayNameFor(model => model.Bags.FirstOrDefault().Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bags.FirstOrDefault().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bags.FirstOrDefault().Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bags.FirstOrDefault().Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bags) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Description)
            </td>
            <td>

                @if (User.Identity.IsAuthenticated)
                {
                    <form class="d-inline my-1" asp-action="AddToCart">
                        <input type="hidden" name="bagId" value="@item.Id" />
                        <input type="hidden" name="quantity" value="50" />

                        <input type="submit" value="Quick Add" class="btn btn-primary" />
                    </form>
                }

                <a class="btn btn-secondary my-1" asp-action="BagDetails" asp-route-id ="@item.Id">View Details</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
